.app-card{
  /*width: 70% !important;*/
  width: 95% !important;
  max-width: 1100px;
  min-width: 270px;
  min-height: 150px !important;
}

.date-card{
  margin-top: 30px !important;
  /*width: 70% !important;*/
  width: 95% !important;
  max-width: 1100px;
  min-width: 270px;
  height: 50px !important;
  min-height: 50px !important;
  background-color: #E0E0E0 !important;
}

.card-pic{
  height: 50px;
  width: 50px;
   position: relative;
    overflow: hidden;
    margin-right: 10px;

}

.card-pic img{
  position: absolute;
 left: 50%;
 top: 50%;
 height: 100%;
 width: auto;
 -webkit-transform: translate(-50%,-50%);
     -ms-transform: translate(-50%,-50%);
         transform: translate(-50%,-50%);
}

.card-icons{
  padding-left: 5px;
}

.app-card-title{
  font-size: 24px;
    font-weight: 300;
    width: 95%;


}


.date-card  .mdl-card__title{
  padding: 10px 16px;
}
.date-card .mdl-card__menu{
  top: 10px;
}

@media screen and (max-width: 600px){
  .card-pic{
    height: 40px;
    width: 40px;
  }

  .app-card-title{
    font-size: 18px;
    color: #212121;
      font-weight: 400;
        width: 90%;

  }

  .app-card{
    width: 85% !important;
  }

  .date-card{
    width: 85% !important;
  }

}
