.nav-container{
  width: 100% !important;
  height: 45vw;
  max-height: 650px;
  min-height: 250px;

}

/*.layout-object{

}*/

.intro{
  color:white;
  text-align: center;
  /*padding-top: 170px;*/
  padding-top: 10vw;
  font-size: 4vmax;
  font-weight: 600;

}

.tagline{
  color:white;
  text-align: center;
  font-size: 2vmax;

}


i.nav-drawer{

 color: white !important;
}

.mdl-layout__drawer-button {
    color: white !important;
}


@media screen and (min-width: 1024px){
.intro{
  font-size: 4vmax;
}
}

@media screen and (max-width: 600px){
.intro{
  font-size: 3vmax;
}

.tagline{
  font-size: 1.5vmax;

}
}
