.recommendation{
  min-height: 150px !important;

  cursor: pointer;
  width: 11vw !important;
  height: 11vw !important;

  min-width: 100px !important;
  min-height: 100px !important;

  max-width: 150px !important;
  max-height: 150px !important;
  transition: all .2s ease-in-out;

  margin: 2px !important;
}

.recommendation:hover{
  transform: scale(1.03);
}

#rec-title{
  font-size: 3vmax;
  text-align: center;
  color: #616161 ;
}

.recommendation-container{
  /*min-width: 400px;*/
}



  @media screen and (min-width: 1700px){
    #rec-title{
      font-size: 2.4vmax;
    }

}
